html {
  background-color: #282c36;
}

a,
h1 {
  color: #fbc531;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  box-shadow: none;
}

blockquote {
  color: #eccc68;
  border-left: 0.32813rem solid #eccc68;
}

body {
  color: #f5f6fa;
}

hr {
  background-color: #f5f6fa;
}

footer {
  float: right;
}
