.post {
  margin-bottom: 60px;
  .post-date {
    display: inline-block;
    margin-bottom: 20px;
  }
}

.about-page {
  display: flex;
  justify-content: center;
  .about-div {
    width: 42.5rem;
    padding: 2.8125rem;
  }
}
